*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.navbar{
    border: 1px solid gray;
    background-color: rgb(43, 42, 42);
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}
.nav_links a{
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    display: inline;
}
.nav_links a:hover{
    color: rgb(135, 135, 135);
}
body{
    background-color: black;
}